@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 19px #fff, 0 0 40px #ffc107, 0 0 80px #ffc107, 0 0 90px #ffc107;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
html {
  scroll-behavior: smooth;
}
html body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
html body * {
  margin: 0;
  padding: 0;
}
html body header {
  width: 100%;
  position: fixed;
  z-index: 2;
}
html body header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: #ffc107;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 599px) {
  html body header ul {
    flex-wrap: wrap;
  }
}
html body header ul li {
  animation: slide-down 5s 3;
  list-style-type: none;
  flex: 1;
  transition: all 0.2s ease;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body header ul li {
    flex: 0;
  }
}
html body header ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
html body header ul li:hover {
  font-weight: bold;
}
html body header ul li.logo {
  flex-basis: 40%;
  font-weight: bold;
  letter-spacing: 2px;
}
@media screen and (max-width: 599px) {
  html body header ul li.logo {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  html body header ul li.logo {
    flex-basis: 30%;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body header ul li.logo {
    flex-basis: 20%;
  }
}
html body .section.about-section {
  display: flex;
  flex-wrap: wrap;
}
html body .section.about-section .left {
  flex: 1;
  display: flex;
  justify-content: left;
  background: #000;
}
@media screen and (max-width: 599px) {
  html body .section.about-section .left {
    flex-basis: 100%;
  }
}
html body .section.about-section .left img {
  width: 100%;
}
html body .section.about-section .right {
  flex: 2;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  html body .section.about-section .right {
    flex: 1.5;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.about-section .right {
    flex: 1;
  }
}
html body .section.about-section .right .title {
  padding-left: 30px;
}
html body .section.about-section .right .title h2 {
  font-size: 4rem;
  letter-spacing: 2px;
  margin-bottom: 3%;
}
html body .section.about-section .right .desc p {
  font-size: 1.5rem;
  line-height: 2;
  color: #aaa;
  margin-bottom: 3%;
  padding-left: 30px;
  padding-right: 10px;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.about-section .right .desc p {
    font-size: 1.3rem;
  }
}
html body .section.about-section .right .desc p span {
  color: #fff;
  font-weight: bold;
  animation: flicker 1.5s infinite alternate;
}
@media screen and (max-width: 599px) {
  html body .section.about-section .right .desc p span {
    animation: none;
    text-shadow: 0 0 4px #fff, 0 0 19px #fff, 0 0 40px #ffc107, 0 0 80px #ffc107, 0 0 90px #ffc107;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.about-section .right .desc p span {
    animation: none;
    text-shadow: 0 0 4px #fff, 0 0 19px #fff, 0 0 40px #ffc107, 0 0 80px #ffc107, 0 0 90px #ffc107;
  }
}
html body .section.about-section .right .desc p span a {
  color: #fff;
  animation: flicker 1.5s infinite alternate;
}
@media screen and (max-width: 599px) {
  html body .section.about-section .right .desc p span a {
    animation: none;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.about-section .right .desc p span a {
    animation: none;
  }
}
html body .section.skills-section {
  display: flex;
}
html body .section.skills-section .box-block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex: 1;
}
html body .section.skills-section .box-block .box-wrap {
  flex-basis: 25%;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  html body .section.skills-section .box-block .box-wrap {
    flex-basis: 50%;
  }
}
html body .section.skills-section .box-block .box-wrap .box {
  justify-content: center;
  flex-basis: 25%;
  text-align: center;
  display: flex;
  min-height: 180px;
  flex-direction: column;
  transition: all 0.5s;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.skills-section .box-block .box-wrap .box {
    min-height: 150px;
  }
}
html body .section.skills-section .box-block .box-wrap .box a {
  color: #fff;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.skills-section .box-block .box-wrap .box a {
    font-size: 0.8em;
  }
}
html body .section.skills-section .box-block .box-wrap .box.mongo {
  background: url("../images/mongo.png") center;
}
html body .section.skills-section .box-block .box-wrap .box.express {
  background-color: #d1d1d1;
}
html body .section.skills-section .box-block .box-wrap .box.react {
  background: #222 url("../images/react.png") no-repeat right 48%;
  background-size: 48%;
}
html body .section.skills-section .box-block .box-wrap .box.node {
  background: url("../images/node.png") no-repeat center;
}
html body .section.skills-section .box-block .box-wrap .box.vue {
  background: url("../images/vue.png") no-repeat center;
}
html body .section.skills-section .box-block .box-wrap .box.scss {
  background: url("../images/scss.png") no-repeat center;
}
html body .section.skills-section .box-block .box-wrap .box.html {
  background: url("../images/html.png") no-repeat right;
}
html body .section.skills-section .box-block .box-wrap .box.more {
  background: #9e9e9e;
}
html body .section.skills-section .box-block .box-wrap .box:hover {
  transform: scale(1.2);
}
html body .section.projects-section .section-header {
  height: 20px;
  padding: 25px 0px;
}
@media screen and (max-width: 599px) {
  html body .section.projects-section .section-header {
    height: auto;
  }
}
html body .section.projects-section .section-header h3 {
  font-size: 100px;
  transform: rotate(270deg) translate(-90%, 30%);
  text-align: center;
  display: inline-block;
  transform-origin: left;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.projects-section .section-header h3 {
    font-size: 83px;
  }
}
@media screen and (max-width: 599px) {
  html body .section.projects-section .section-header h3 {
    transform: none;
    font-size: 50px;
  }
}
html body .section.projects-section .section-body {
  max-width: 965px;
  margin: auto;
  width: 70%;
}
@media screen and (max-width: 599px) {
  html body .section.projects-section .section-body {
    width: 90%;
  }
}
html body .section.projects-section .section-body p {
  font-size: 20px;
  color: #333;
}
html body .section.projects-section .section-body .projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html body .section.projects-section .section-body .projects .project-card {
  padding: 13px;
  border-left: 5px solid;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  margin: 15px 0px;
  box-shadow: 0px 1px 2px 0px #ccc;
}
html body .section.projects-section .section-body .projects .project-card p {
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8px;
}
html body .section.projects-section .section-body .projects .project-card span {
  color: #999999;
}
html body .section.exp-section .section-header {
  height: 20px;
}
@media screen and (max-width: 599px) {
  html body .section.exp-section .section-header {
    height: auto;
  }
}
html body .section.exp-section .section-header h3 {
  font-size: 100px;
  transform: rotate(270deg) translate(-90%, 30%);
  text-align: center;
  display: inline-block;
  transform-origin: left;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  html body .section.exp-section .section-header h3 {
    font-size: 83px;
  }
}
@media screen and (max-width: 599px) {
  html body .section.exp-section .section-header h3 {
    transform: none;
    font-size: 50px;
  }
}
html body .section.exp-section .section-body {
  max-width: 965px;
  margin: auto;
  width: 70%;
}
@media screen and (max-width: 599px) {
  html body .section.exp-section .section-body {
    width: 90%;
  }
}
html body .section.exp-section .section-body .exp-box {
  margin: 30px auto;
  transition: all 0.4s;
  padding-left: 40px;
  border-radius: 3px;
}
@media screen and (max-width: 599px) {
  html body .section.exp-section .section-body .exp-box {
    padding-left: 20px;
  }
}
html body .section.exp-section .section-body .exp-box .desig h4 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 9px;
  letter-spacing: 1px;
}
html body .section.exp-section .section-body .exp-box .company {
  display: flex;
  margin-bottom: 9px;
  letter-spacing: 1px;
  font-size: 18px;
}
html body .section.exp-section .section-body .exp-box .company .name p a {
  color: #000;
  text-decoration: none;
}
html body .section.exp-section .section-body .exp-box .company .duration {
  color: #9e9e9e;
}
html body .section.exp-section .section-body .exp-box .work-notes {
  padding-left: 19px;
}
html body .section.exp-section .section-body .exp-box .work-notes ul li.note {
  line-height: 2;
}
html body .section.exp-section .section-body .exp-box:hover {
  border-left: 4px solid #ffc107;
}
html body .section.contact-section {
  display: flex;
  justify-content: space-between;
  padding: 35px 10px;
  background: #ccc;
}
@media screen and (max-width: 599px) {
  html body .section.contact-section {
    flex-direction: column;
    align-items: center;
  }
}
html body .section.contact-section .social a {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 4px;
  color: #222;
}
@media screen and (max-width: 599px) {
  html body .section.contact-section .email {
    margin: 5% auto;
  }
}
html body .section.contact-section .email a {
  text-decoration: none;
  color: #222;
}
html body .section.contact-section .cv a {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 4px;
  background: darkseagreen;
  color: #fff;
  box-shadow: 0px 1px 2px 0px #000;
}

/* Global Styles */

/*# sourceMappingURL=styles.css.map */
